<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bonjour</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'app1/styles/indexStyle.css' %}">
</head>
<body>
{% include 'app1/appliw/menu.html' %}
{% load staticfiles %}
<div id="includedContentMenu"></div>
<div id="container" class="container">
    <div class="row text-center">
        <div id="helloValty" class="invisible col-lg-12">
            <div class="message">Hello !</div>
            <div class="message">Je suis Valty</div>
        </div>
    </div>
    <div class="row text-center">
        <div id="imageRobott" class="col-lg-2 col-lg-offset-5">
            <img id="robyCorps" class="petit" src=" {%static 'app1/resources/imagesRoby/morceauxDeRoby/roby_0035_robot.png' %}" alt="roby"/>
            <img id="robyOeilGauche" class="petit" src=" {%static 'app1/resources/imagesRoby/morceauxDeRoby/roby_0033_oeil-gauche.png' %}" alt="roby"/>
            <img id="robyOeilDroit" class="petit" src=" {%static 'app1/resources/imagesRoby/morceauxDeRoby/roby_0034_oeil2-droit.png' %}" alt="roby"/>
            <div id="iris">
                <img id="robyIrisGauche" class="petit" src=" {%static 'app1/resources/imagesRoby/morceauxDeRoby/roby_0032_pupille1-gauche.png' %}" alt="roby"/>
                <img id="robyIrisDroit" class="petit" src=" {%static 'app1/resources/imagesRoby/morceauxDeRoby/roby_0031_pupille-droite.png' %}" alt="roby"/>
            </div>
            <img id="robyBouche" class="petit" src=" {%static 'app1/resources/imagesRoby/morceauxDeRoby/roby_0029_sourire1.png' %}" alt="roby"/>
        </div>
    </div>
    <div class="row text-center">
        <div id="ombreRobot" class="col-lg-2 col-lg-offset-5">
            <img class="petit" id="ombre" src=" {%static 'app1/resources/imagesRoby/morceauxDeRoby/roby_0030_ombre.png' %}" alt="ombre"/>
            <img id="fake" style="position: relative; visibility:hidden;"  src=" {%static 'app1/resources/imagesRoby/morceauxDeRoby/roby_0030_ombre.png' %}"/>
        </div>
    </div>
</div>


<!--<script src=" {%static 'app1/scripts/affichageMenu.js' %}"></script>-->
<script src=" {%static 'app1/scripts/levitationRobot.js' %}"></script>
<script src=" {%static 'app1/scripts/affichageChampsConnexion2.js' %}"></script>
</body>
</html>


