<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
<div class="container">

    <div id="dd" class="dropdown keep-open">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li id="item1"> <img  src="resources/imagesRoby/elementsGraphiques/roby_0016_icone-home.png"/> Accueil</li>
            <li id="item2"> <img  src="resources/imagesRoby/elementsGraphiques/roby_0015_icone-connect.png"/> Déconnexion</li>
            <li id="item3"> <img  src="resources/imagesRoby/elementsGraphiques/roby_0014_icone-coeur.png"/> Reconnaître un objet</li>
            <li id="item4"> <img  src="resources/imagesRoby/elementsGraphiques/roby_0013_icone-id.png"/> Apprendre un objet</li>
            <li id="item5"> <img  src="resources/imagesRoby/elementsGraphiques/roby_0012_icone-cloud.png"/> Tous mes objets</li>
        </ul>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>

    $('.dropdown.keep-open').on({
        "shown.bs.dropdown": function() { this.closable = false; },
        "click":             function() { this.closable = true; },
        "hide.bs.dropdown":  function() { return this.closable; }
    });

    $('.dropdown').on('show.bs.dropdown', function(e){
        console.log("show.bs.dropdown");
        $(this).find('.dropdown-menu').stop().show();
        $('#item1').css('opacity', 0).animate(
                { opacity: 1 },
                { queue: false, duration: 1000 });
        $('#item2').css('opacity', 0).animate(
                { opacity: 1 },
                { queue: false, duration: 2000 });
        $('#item3').css('opacity', 0).animate(
                { opacity: 1 },
                { queue: false, duration: 3000 });
        $('#item4').css('opacity', 0).animate(
                { opacity: 1 },
                { queue: false, duration: 3500 });
        $('#item5').css('opacity', 0).animate(
                { opacity: 1 },
                { queue: false, duration: 4000 });
    });

    // ADD SLIDEUP ANIMATION TO DROPDOWN //
    $('.dropdown').on('hide.bs.dropdown', function(e){
        if (this.closable){
            console.log("hide.bs.dropdown");
            $(this).find('.dropdown-menu').stop().slideUp('linear');
            $('#item5').animate(
                    { opacity: 0 },
                    { queue: false, duration: 200 });
            $('#item4').animate(
                    { opacity: 0 },
                    { queue: false, duration: 400 });
            $('#item3').animate(
                    { opacity: 0 },
                    { queue: false, duration: 600 });
            $('#item2').animate(
                    { opacity: 0 },
                    { queue: false, duration: 800 });
            $('#item1').animate(
                    { opacity: 0 },
                    { queue: false, duration: 1000 });
        }
    });

//    // Au chargement de la page
//    $(function() {
//        // Déclenche l'ouverture du menu :
//        //$('#menuContent').dropdown('toggle');
//    });
</script>


</body>
</html>