<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bonjour</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
    <link rel="stylesheet" href="styles/indexStyle.css">

</head>
<body>
<div class="container">
    <div class="row text-center">
        <div id="helloValty" class="col-lg-12">
            <div>Hello !</div>
            <div>Je suis Valty</div>
        </div>
    </div>


    <div id="lignePrincipale" class="row text-center" style="padding-top:100px">
        <div class="btnInitGauche btnDiv col-lg-6" id="btnGaucheDiv" style="height: 366px;">
            <!--<img id="btnMicro" class="centrerVerticalement normal" src="resources/imagesRoby/elementsGraphiques/roby_0003_bout-micro-big.png" style="display: inline-block;">-->
            <!--<p>blabla</p>-->
        <!--</div>-->

        <div class="centrerVerticalement">
            <img id="btnMicro" class="normal" src="resources/imagesRoby/elementsGraphiques/roby_0003_bout-micro-big.png" style="display: inline-block;">
            <p class="textSurImage">blabla</p>
        </div>
        </div>

        <div id="bordRobot" class="col-lg-6">
            <div id="imageRobott">
                <img style="position: absolute; z-index: 1;" id="robyCorps" src="resources/imagesRoby/morceauxDeRoby/roby_0035_robot.png" alt="roby">
                <img style="z-index: 2" id="robyOeilGauche" src="resources/imagesRoby/morceauxDeRoby/roby_0033_oeil-gauche.png" alt="roby">
                <img style="z-index: 3;" id="robyOeilDroit" src="resources/imagesRoby/morceauxDeRoby/roby_0034_oeil2-droit.png" alt="roby">
                <img style="z-index: 4;" id="robyIrisGauche" src="resources/imagesRoby/morceauxDeRoby/roby_0032_pupille1-gauche.png" alt="roby">
                <img style="z-index: 5;" id="robyIrisDroit" src="resources/imagesRoby/morceauxDeRoby/roby_0031_pupille-droite.png" alt="roby">
                <img style="z-index: 6;" id="robyBouche" src="resources/imagesRoby/morceauxDeRoby/roby_0029_sourire1.png" alt="roby">
            </div>
            <div id="ombreRobot">
                <img style="position: relative; z-index: 1;" id="ombre" src="resources/imagesRoby/morceauxDeRoby/roby_0030_ombre.png" alt="ombre">
            </div>
        </div>

    </div>
</div>
<!--<script src="scripts/levitationRobot.js"></script>-->
</body>
</html>


