{% extends "app1/header.html" %}
{% block content %}
<p>YYpusssef.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>
<p>Hey! Welcome to my website! Well, I wasn't expecting guests.</p>

{% include 'app1/includes/htmlsnippet.html' %}

{% endblock %}
